@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #475569; /* neutral body text */
  background-color: #f8fafc; /* page background (neutral) */
}

.glass {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
